
@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Categorias</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Categoria
    </div>

    <div class="card-body">
        @* Colocando las filas y columnas *@
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-danger" onclick="abrirModal(null)">
                    Crear nueva categoria
                </button>
            </div>
        </div>
        <br />
        @* Agregando la tabla *@
        <table id="tabla" class="table table-hover" style="width: 100%">
            <thead>
                <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-ds-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @* inicializar una categoria y blah blah *@
                <input id="txtid" type="hidden" value="0" />

                <div class="row g-1">


                    <div class="col-sm-6">
                        <label for="txtdescripcion" class="form-label">Descripcion</label>
                        <input type="email" class="form-control" id="txtdescripcion" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select class="form-select" id="cboactivo">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                </div>


                @* Mensaje de alerta *@
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardar()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script>

        var tabladata;
        var fila_seleccionada;



        //haciendo el llamado a la tabla por medio del id #{nombre}
        //convertir a dataTable
        debugger;
        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarCategorias", "Mantenedor")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "Descripcion" },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Si</span>'
                        } else {
                            return '<span class="badge bg-danger">No</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen me-1"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash me-1"></i></button>',
                    "orderable": false,
                    "searchable": false
                }

            ],
            //Cambiar lenguaje a español
            "language": {
                "url":"https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
            }

        });


         //llamando (adentro de tbody) a un boton por medio de la clase btn-editar
        $("#tabla tbody").on("click", '.btn-editar', function () {
            fila_seleccionada = $(this).closest("tr")

            //seleccionando datos de la fila seleccionada
            var data = tabladata.row(fila_seleccionada).data();

            console.log(data)

            abrirModal(data)

        })


        //EVENTO ELIMINAR
        $("#tabla tbody").on("click", '.btn-eliminar', function () {
            var categoria_seleccionada = $(this).closest("tr")

            //seleccionando datos de la fila seleccionada
            var data = tabladata.row(categoria_seleccionada).data();


            swal({
                title: "¿Estás seguro?",
                text: "¿Quieres eliminar esta categoría?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Sí, borralo",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {

                jQuery.ajax({

                    url: '@Url.Action("EliminarCategoria", "Mantenedor")',
                    type: "POST",
                    data: JSON.stringify({ id: data.IdCategoria }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        
                        if (data.resultado) {

                            tabladata.row(categoria_seleccionada).remove().draw();

                        } else {

                            swal("No se pudo eliminar la categoria", data.mensaje, "error")

                        }

                    },
                    error: function (error) {
                        console.log(error)
                    },

                });

            });

        })

        //FUNCIÓN ABRIR MODAL
        function abrirModal(json)
        {
            $("#txtid").val(0);
            $("#txtdescripcion").val("");
            $("#cboactivo").val(1);
            $("#mensajeError").hide();

            if (json != null)
            {
                $("#txtid").val(json.IdCategoria);
                $("#txtdescripcion").val(json.Descripcion);
                $("#cboactivo").val(json.Activo == true ? 1 : 0);

            }

            $("#formModal").modal("show");
        }

        //funcion para enviar datos a SQL Server y actualizar datos
        function guardar() {

            var Categoria = {
                IdCategoria: $("#txtid").val(),
                Descripcion: $("#txtdescripcion").val(),
                Activo: $("#cboactivo").val() == 1 ? true : false,

            }

            jQuery.ajax({

                url: '@Url.Action("GuardarCategoria", "Mantenedor")',
                type: "POST",
                data: JSON.stringify({ objeto: Categoria }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");


                    //Cateogria nuevo
                    if (Categoria.IdCategoria == 0) {

                        if (data.resultado != 0) {

                            Categoria.IdCategoria = data.resultado;
                            tabladata.row.add(Categoria).draw(false);

                            //Despues de esto ocultar el modal
                            $("#formModal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();

                        }

                        //Editar categoria
                    } else {

                        if (data.resultado) {
                            tabladata.row(fila_seleccionada).data(Categoria).draw(false);
                            fila_seleccionada = null;
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }


                    }


                },
                error: function (error) {

                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text(data.mensaje);
                    $("#mensajeError").show();


                },
                beforeSend: function () {
                    //mostrar algo mientras la operación se lleva a cabo
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                }
            });

        }



    </script>
}

