
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container my-5">
    <div class="row">

        <div class="col-sm-12">

            <div class="card">
                <div class="card-body">

                    <div class="row">

                        <!--Detalle Producto -->
                        <div class="col-sm-9">

                            <div class="me-2">

                                <div class="d-flex justify-content-between">
                                    <h5 class="ms-2 mt-2">Detalle Carrito</h5>
                                    <a class="btn btn-primary" href="@Url.Action("Index","Tienda")"><i class="fas fa-cart-plus"></i> Seguir Comprando</a>

                                </div>

                                <hr class="mt-2 mb-2">
                                <div id="productos-carrito">


                                    <div class="card mb-2 card-producto">
                                        <div class="card-body">
                                            <div class="row">

                                                <div class="col-sm-2 align-self-center d-flex justify-content-center">
                                                    <img class="rounded" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" style="width:100px;height:100px" />
                                                </div>

                                                <div class="col-sm-4 align-self-center">
                                                    <span class="font-wight-bold d-block">Marca</span>
                                                    <span>Nombre Producto</span>
                                                </div>

                                                <div class="col-sm-2 align-self-center">
                                                    <span>Precio : S/. 1500</span>
                                                </div>

                                                <div class="col-sm-2 align-self-center">
                                                    <div class="d-flex">

                                                        <button class="btn btn-outline-secondary btn-restar rounded-0">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                        <input class="form-control input-cantidad p-1 text-center rounded-0" disabled style="width:40px" />
                                                        <button class="btn btn-outline-secondary btn-sumar rounded-0">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2 align-self-center">

                                                    <button class="btn btn-outline-danger btn-eliminar"><i class="far fa-trash-alt"></i> Eliminar</button>
                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                </div>


                                <div class="d-flex justify-content-end">

                                    <label class="align-self-center"><b>Total: S/. <span id="total">0</span> </b></label>
                                </div>

                            </div>

                        </div>

                        <!--Detalle Envio -->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">Detalle Envio</h5>
                                    <form>
                                        <div class="mb-2">
                                            <label for="cbodepartamento" class="form-label">Departamento: </label>
                                            <select class="form-select form-select-sm" id="cbodepartamento"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cboZona" class="form-label">Zona: </label>
                                            <select class="form-select form-select-sm" id="cboZona"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail1" class="form-label">Nombre:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtnombrecontacto" autocomplete="off">
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail1" class="form-label">Direccion:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtdireccion" autocomplete="off">
                                        </div>
                                        <div class="mb-3">
                                            <label for="txttelefono" class="form-label">Telefono:</label>
                                            <input type="text" class="form-control form-control-sm" id="txttelefono" autocomplete="off">
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-success" type="button" onclick="RealizarPago()">
                                                <i class="fab fa-paypal"></i> Terminar y Procesar Pago
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
